@use '../variables/colors'as *;

.social {
    display: flex;
    align-items: center;
    padding: 0 !important;
    list-style: none;

    gap: 1.5rem;

    svg {
        width: 2rem;
        height: 2rem;
        transition: all ease-in-out .5s;
        transform: scale(1);
    }
}


.social a:hover {
    svg {
        transition: all ease-in-out .2s;
        fill: $secondary-color;
        transform: scale(1.5);
    }

}