
$cover-background:#034007;

.gsap-reveal-text {
    line-height: 0;
}

.gsap-reveal-text .reveal-wrap {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.gsap-reveal-text .reveal-wrap .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $cover-background;
    margin-left: -100%;
    z-index: 2;
}

.gsap-reveal-text .reveal-wrap .reveal-content {
    line-height: 1.5;
    z-index: 1;
    display: inline-block;
    transform: translateX(-100%);
}
