.error {
    img {
        width: 16rem;
        height: auto;
    }
}

.main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    gap: 1rem;
    h1{
        margin: 1rem;
    }
}


@media (min-width: 768px) {
    .main {
        gap: 2rem;
    }
}

.home {
    width: 16rem;
}

.social {
    .insta {
        margin: 5rem;
    }

    svg {
        width: 3rem;
        height: 3rem;
        fill: black;
    }
}