@forward './scss/header';
@forward './scss/footer';
@use './scss/variables/colors'as *;

$secondary-light: #053865;

.projects {
    color: $gray-200;
}

.about{
    p{
        font-size: 1.3rem;
        letter-spacing: 1px;
    }
}

.tech-stack {
    position: relative;

    h4 {
        text-transform: capitalize;
        font-size: 1.5rem;
    }

    svg {
        width: 4rem;
        height: 4rem;
        fill: rgba($color: #00662b, $alpha: 0.2);
        position: absolute;
        z-index: -1;
    }

    svg.stack {
        position: static;
        width: 10rem;
        height: 10rem;
        opacity: 1;
        fill: #00662b;
    }


    .webpack {
        left: 15%;
        top: 70%
    }

    .sass {
        top: 77%;
        left: 50%;
    }

    .html {
        top: 22%;
        left: 66%;
    }

    .git {
        top: 6%;
        left: 90%;
    }

    .github {
        left: 10%;
        bottom: 50%;
    }

    .stackoverflow {
        left: 30%;
        top: 55%;
    }

    .gitlab {
        top: 33%;
        left: 90%;
    }

    .postgres {
        left: 63%;
        top: 65%;
    }

    .kubernetes {
        left: 85%;
        top: 65%;
    }

    .csharp {
        left: 35%;
        top: 5%
    }

    .gcloud {
        left: 66%;
        top: 5%;
    }

    .firebase {
        left: 22%;
        top: 15%;
    }

    .typescript {
        left: 74%;
        top: 80%
    }

    .visual-studio {
        top: 50%;
    }

    .java {
        left: 80%;
        top: 5%;
    }

    .android-studio {
        left: 73%;
        top: 53%;
    }

    .kotlin {
        left: 40%;
        top: 70%;
    }

    .javascript {
        left: 55%;
        top: 40%;
    }
}


.link-secondary {
    color: #5cdb95;
    text-decoration: underline;

    &:hover {
        color: $secondary-light;
    }
}

.main {
    color: white;
    background-image: radial-gradient(circle farthest-corner at -1% 57.5%, rgba(19, 170, 82, 1) 0%, rgba(0, 102, 43, 1) 90%);
    padding-bottom: 2rem;
}


.main-content {
    margin-top: 2rem;
    h1{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
}


.cta {
    width: 16rem;
    margin-top: 1rem;
}

.bello-abraham {

    img {
        width: 20rem;
        margin-top: 2rem;
        height: auto;
    }
}

@media (min-width:768px) {

    .bello-abraham {
        img {
            margin-top: 0;
            width: 17rem;
            height: auto;
        }
    }
}