@forward './scss/header';
@forward './scss/footer';
@use './scss/variables/colors'as *;
@use './scss/utils/breakpoints'as *;
@forward './scss/components/preloader';
@forward './scss/components/form';


$secondary-light: #053865;

section {
    padding: 3rem 0 !important;

    header {
        h2 {
            font-size: 2rem;
            
        }

        h3 {
            font-size: 1.3rem;
        }

        margin-bottom: 4rem !important;
    }

    .btn-container {
        text-align: center;
    }
}

@media (min-width:768px) {
    section {
        padding: 2rem;

        .btn-container {
            text-align: start;
        }
    }
}

.form-wrapper {

    button.btn {
          width: 21.5rem;
    }

    textarea{
            resize: vertical;
    }
}

.portfolio {
    flex-wrap: wrap;

    .technology {
        a {
            color: white;
        }
    }

    .btn {
        text-transform: uppercase;
        width: 100%;

        .text {
            gap: .5rem;

            svg {
                width: 20px;
                height: 20px;
                margin-top: -4px;
            }
        }
    }

    h4 {
        font-size: 1.5rem;
        margin-bottom: 0 !important;
    }

    h5 {
        font-size: 1rem;
        margin-bottom: 0 !important;
        margin-top: 1rem !important;
        text-transform: uppercase;
    }

    a {
        color: white;
    }

    .item-container {
        margin: 2rem .8rem;
        margin-top: 0;
        width: 320px;

        @include tablet {
            width: 512px;
        }

    }

    @include mobileOnly {
        flex-direction: column;
        align-items: center;
    }

    .item {
        width: 100%;
        position: absolute;
        background-color: white;
        position: relative;
        height: 256px;

        .icon {
            width: 96px;
            height: 96px;
            border-radius: 25px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            transform: scale(1.2);
            transition: all .5s;

            img{
                width: 80px;
            }
            svg {
                width: auto;
                height: 66px;
            }

        }

        &:hover {
            .icon,
            .item-stack {
                transform: scale(1.5);
            }

            .arrow,
            .overlay {
                opacity: 1;
            }
        }

        .arrow {
            fill: white;
            width: 48px;
            transition: all, .5s;
            opacity: 0;
            height: auto;
            position: absolute;
            margin: auto;
            z-index: 210;
        }

        .overlay {
            position: absolute;
            transition: all,
                .5s;
            top: 0;
            opacity: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 200;
            background-color: rgba($color: #000, $alpha: 0.5);
        }

        .item-stack {
            position: absolute;
            bottom: 8px;
            width: 39px;
            height: auto;
            transform: scale(1);
            transition: all .4s ease-in-out;

            &.web,
            &.angular {
                width: 32px;
            }
        }
    }

    .project-name {
        transition: all .5s ease;

        &:hover {
            text-decoration: underline;
        }
    }
}

.projects {
    h4{
        font-size: 1.3rem;
    }
    h5{
        font-size: 1.1rem;
    }
}

.tech-stack {
    position: relative;

    h4 {
        text-transform: capitalize;
        font-size: 1.5rem;
    }

    svg {
        width: 4rem;
        height: 4rem;
        fill: rgba($color: #00662b, $alpha: 0.2);
        position: absolute;
        z-index: -1;
    }

    svg.stack {
        position: static;
        width: 10rem;
        height: 10rem;
        opacity: 1;
        fill: #00662b;
    }


    .webpack {
        left: 15%;
        top: 70%
    }

    .sass {
        top: 77%;
        left: 50%;
    }

    .html {
        top: 22%;
        left: 66%;
    }

    .git {
        top: 6%;
        left: 90%;
    }

    .github {
        left: 10%;
        bottom: 50%;
    }

    .stackoverflow {
        left: 30%;
        top: 55%;
    }

    .gitlab {
        top: 33%;
        left: 90%;
    }

    .postgres {
        left: 63%;
        top: 65%;
    }

    .kubernetes {
        left: 85%;
        top: 65%;
    }

    .csharp {
        left: 35%;
        top: 5%
    }

    .gcloud {
        left: 66%;
        top: 5%;
    }

    .firebase {
        left: 22%;
        top: 15%;
    }

    .typescript {
        left: 74%;
        top: 80%
    }

    .visual-studio {
        top: 50%;
    }

    .java {
        left: 80%;
        top: 5%;
    }

    .android-studio {
        left: 73%;
        top: 53%;
    }

    .kotlin {
        left: 40%;
        top: 70%;
    }

    .javascript {
        left: 55%;
        top: 40%;
    }
}


.link-secondary {
    color: #5cdb95;
    text-decoration: underline;

    &:hover {
        color: $secondary-light;
    }
}

.main, .projects {
  color: white;
    background-image: radial-gradient(circle farthest-corner at -1% 57.5%, rgba(19, 170, 82, 1) 0%, rgba(0, 102, 43, 1) 90%);
}

.main{
 padding-bottom: 2rem;
}


.main-content {
    margin-top: 4rem;
    .focus{
        color: #ffe800;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }
}


.cta {
    width: 16rem;
    margin-top: 1rem;
}

.bello-abraham {

    img {
        width: 20rem;
        margin-top: 2rem;
        height: auto;
    }
}

@media (min-width:768px) {

    .bello-abraham {
        img {
            margin-top: 0;
            width: 17rem;
            height: auto;
        }
    }
}

.about{
    header{
        margin-bottom: 3rem !important;
    }
}