@use './utils/breakpoints' as *;

@font-face {
    font-family: 'maven';
    src: url('fonts/MavenPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'maven';
    src: url('fonts/MavenPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: maven;
    font-weight: 500;
}

html {
    font-size: 110%;
    @include hiResDisp {
        font-size: 150%;
    }
}


h3, h4,h5, h6, h1, h2 {
    font-weight: 700;
}

