@use './utils/breakpoints'as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

@font-face {
    font-family: liber;
    src: url('fonts/LiberGrotesqueFamily-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body {
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 500;
}

html {
    font-size: 100%;
    @include hiResDisp {
        font-size: 150%;
    }
}

h1,
h2 {
    font-family: liber;
}

h3, h4,h5, h6{
   font-weight: 600;
}

