@use './variables/colors' as *;

.footer {
    .container {
        padding: 0 1rem;
        padding-top: 3rem;
    }

    h3 {
        padding-bottom: 1rem;  
        font-size: 1.1rem;
    }

    a {
      font-size: 1rem;
        cursor: pointer;

        &:hover {
            color: $secondary-color;
            text-decoration: underline;
        }
    }

    ul {
        padding: 0;

        li {
            padding-bottom: 1rem;
        }
    }
}

.copyright {
    text-align: center;
    padding: 1rem;
    font-size: .9rem;

    a {
        text-decoration: underline;
    }
}

.social {
    svg {
       // width: 3rem;
       // height: 3rem;
    }
}

.contact {
    svg {
        width: 1.3rem;
    }
}