@import './components/menu-toggle';

/*
 * SLIDING MENU PANEL
 */
.menu {
    position: absolute;
    left: -30%;
    display: none;
    z-index: 998;
    color: $gray-300;
    background:  $secondary-color;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    gap: .5rem;
    align-items: flex-start;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);

    ul{
        padding: 0;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    svg{
        width: 1.3rem;
        height: 1.3rem;
    }

    .nav-contact, .nav-menu{
        margin-left: 1rem;
    }

    .nav-contact{
        a{
            text-decoration: underline;
        }
    }

    a{
        color: $gray-300;
        font-size: 1rem;
    }

    @media only screen and (max-width: 600px) {
        width: 250px;
        left: -250px;
        padding: 0;
        padding-top: 3rem;
    }

    &.active {
        left: 0;
    }
}
